## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [4]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Souillac,MU,-20.5167,57.5167,73.78,94,40,5.75,light rain
1,1,Tasiilaq,GL,65.6145,-37.6368,32.16,97,100,24.18,snow
2,2,Sinnamary,GF,5.3833,-52.9500,80.94,89,100,12.80,light rain
3,3,Georgetown,MY,5.4112,100.3354,82.33,89,20,2.30,few clouds
4,4,Port Alfred,ZA,-33.5906,26.8910,62.19,90,23,11.43,few clouds

In [5]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [6]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Souillac,MU,-20.5167,57.5167,73.78,94,40,5.75,light rain
2,2,Sinnamary,GF,5.3833,-52.9500,80.94,89,100,12.80,light rain
3,3,Georgetown,MY,5.4112,100.3354,82.33,89,20,2.30,few clouds
5,5,Hamilton,US,39.1834,-84.5333,85.21,51,0,3.44,clear sky
12,12,Garowe,SO,8.4054,48.4845,84.90,45,41,22.79,scattered clouds
13,13,Touros,BR,-5.1989,-35.4608,84.09,68,100,11.81,overcast clouds
15,15,Berlin,DE,52.5244,13.4105,70.23,45,0,8.01,clear sky
26,26,Saint-Philippe,RE,-21.3585,55.7679,71.19,81,36,10.98,scattered clouds
27,27,Victoria,HK,22.2855,114.1577,71.38,88,100,15.01,overcast clouds
29,29,Panama City,PA,8.9936,-79.5197,89.38,69,40,8.05,scattered clouds

In [7]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                294
City                   294
Country                290
Lat                    294
Lng                    294
Max Temp               294
Humidity               294
Cloudiness             294
Wind Speed             294
Current Description    294
dtype: int64

In [9]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Souillac,MU,-20.5167,57.5167,73.78,94,40,5.75,light rain
2,2,Sinnamary,GF,5.3833,-52.9500,80.94,89,100,12.80,light rain
3,3,Georgetown,MY,5.4112,100.3354,82.33,89,20,2.30,few clouds
5,5,Hamilton,US,39.1834,-84.5333,85.21,51,0,3.44,clear sky
12,12,Garowe,SO,8.4054,48.4845,84.90,45,41,22.79,scattered clouds
...,...,...,...,...,...,...,...,...,...,...
661,661,Mariakani,KE,-3.8633,39.4736,72.93,89,8,7.45,clear sky
663,663,Andros Town,BS,24.7000,-77.7667,82.36,64,5,3.83,clear sky
664,664,Sabha,LY,27.0377,14.4283,79.52,13,0,8.57,clear sky
669,669,Lethem,GY,3.3803,-59.7968,88.52,58,91,9.19,overcast clouds
670,670,Cumaral,CO,4.2708,-73.4867,82.71,75,84,4.21,broken clouds

In [10]:
clean_df.count()

City_ID                290
City                   290
Country                290
Lat                    290
Lng                    290
Max Temp               290
Humidity               290
Cloudiness             290
Wind Speed             290
Current Description    290
dtype: int64

In [11]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Souillac,MU,73.78,light rain,-20.5167,57.5167,
2,Sinnamary,GF,80.94,light rain,5.3833,-52.9500,
3,Georgetown,MY,82.33,few clouds,5.4112,100.3354,
5,Hamilton,US,85.21,clear sky,39.1834,-84.5333,
12,Garowe,SO,84.90,scattered clouds,8.4054,48.4845,
13,Touros,BR,84.09,overcast clouds,-5.1989,-35.4608,
15,Berlin,DE,70.23,clear sky,52.5244,13.4105,
26,Saint-Philippe,RE,71.19,scattered clouds,-21.3585,55.7679,
27,Victoria,HK,71.38,overcast clouds,22.2855,114.1577,
29,Panama City,PA,89.38,scattered clouds,8.9936,-79.5197,

In [15]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
len(hotels)

4

In [17]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Souillac,MU,73.78,light rain,-20.5167,57.5167,Shanti Maurice Resort & Spa
2,Sinnamary,GF,80.94,light rain,5.3833,-52.9500,ALETHEIA Appartement Sinnamary
3,Georgetown,MY,82.33,few clouds,5.4112,100.3354,Cititel Penang
5,Hamilton,US,85.21,clear sky,39.1834,-84.5333,Six Acres Bed & Breakfast
12,Garowe,SO,84.90,scattered clouds,8.4054,48.4845,Curubo Hotel

In [18]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [19]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [22]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))